@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  color: $text-primary;
  font-family: $font-main;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  
  &:hover {
    color: $secondary-color;
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $bg-color;
}
::-webkit-scrollbar-thumb {
  background: $text-secondary;
  border-radius: 4px;
}
